@import 'bootstrap';

p {
	margin-left: 500px;
	margin-top: 300px;
}

#ident_text {
	border-radius: 5px;
	color: red;
}

h1 {
	font-size: 18px;
	color:red;
}

#search {
	margin-left: 450px;
}

#background {
	background-image:url('787night.jpg')	
}

html {
	background-image:url('departure.jpg')

}


