
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Your flight info for <div id="results"></div></h4>
      </div>
      <div class="modal-body">
 		<html>
  <head>

        
    <div id="results"></div>
    <div id="map_div" style="width: 400px; height: 300px"></div>

    <table class="table" id="clouds">

        <tr>
         <th>Cloud Type</th>
          <th>Cloud Altitude</th>
        </tr>
      </table>

     <table class="table" id="info">
        <tr>
          <th>Tail Number</th>
          <th>Meal Service</th>
        </tr>
      <table class="table" id="flightdetails">
        <tr>
          <th>Origin</th>
          <th>Destination</th>
        </tr>
    </table>


  </body>
</html>

	 </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      
      </div>
    </div>
  </div>
</div>